# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.htaccess
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/themes/kimberly/images/backgrounds/KCP---Día-del-Vendedor---Banner-784x450px (1).jpg

sites/all/themes/kimberly/images/backgrounds/KCP---Día-del-Vendedor---Banner-784x450px (1).jpg
