.node-type-page {
  .body.field {
    background: #ffffff;
    padding: 20px;
    p {
      color: $text-gray;
      font-size: 0.95rem;
      a{
        color: #008CBA;
        &.button{
          color: #ffffff;
        }
      }
    }
  }
}
  .node-type-article{
  .body.field{
    background: #ffffff;
    padding: 20px;
    p{
      color: $text-gray;
      font-size: 0.95rem;
    }
  }
  .field-name-title{
    h1{
      font-family: $font-sansalight;
      color: #ffffff;
      font-size: 2.2rem;
      font-weight: 700;
    }
  }
  .field-name-field-subtitulo{
    color: #ffffff;
    margin: 0 0 10px 0;
    font-style: italic;
    font-weight: 300;
    font-family: $font-sans;
  }
  .field-name-post-date{
    color: #ffffff;
    font-family: $font-sansalight;
    font-size: 0.85rem;
    b{
      background: $darkred;
      border-radius: 12px;
      height: 25px;
      width: 25px;
      display: inline-block;
      text-align: center;
      padding: 3px;
    }
  }
}
.view-noticias,
.view-entretenimiento,
.view-universidad{

  .views-field-created{
    background-color: #ffffff;
    color: $darkred;
    font-family: $font-sansanormali;
    font-size: 0.75rem;
    padding: 25px 25px 0 25px;
  }
  .arrow{
    margin-top: -21px;
    height: 21px;
  }
  .arrow2{
    margin-top: -7px;
    position: absolute;
  }
  .arrow3{
    margin-top: -77px;
    height: 101px;
    position: absolute;
    top: 155px;
    left: 378px;
  }
  .views-field-title{
    background-color: #ffffff;
    font-family: $font-sansanormal;
    font-size: 1rem;
    padding: 5px 25px 10px 25px;
    text-transform: uppercase;
    min-height: 63px;
    a{
      color: $text-darkgray;
    }
  }
  .views-field-body{
    background-color: #ffffff;
    padding: 0 25px 15px 25px;
    height: 92px;
    p{
      font-family: $font-sansanormal;
      color: $text-darkgray;
      font-size: 0.75rem;
    }
  }
  &.view-display-id-block_1,
  &.view-display-id-block_2,
  &.view-display-id-block_3,
  &.view-display-id-block_4,
  &.view-display-id-block_5{
    &>.view-content{
      .views-row{
        margin-bottom: 20px;
      }
      .views-row-1,
      .views-row-odd{
        padding-right: 0;
      }
    }
    .attachment{
      &.attachment-after{
        .views-row-1{
          padding-left: 0;
        }
      }
      &.attachment-before{
        .views-row-1{
          padding-right: 0;
          padding-left: 15px;
        }
      }
    }
    .views-row-even{
      padding-left: 0;
    }
  }
}
.view-universidad{
  .views-field-field-image{
    opacity: 0.8;
  }
  .views-field-body{
    padding-bottom: 3px;
    height: 79px;
  }
}
.view-entretenimiento{
  &.view-display-id-block_2{
    .view-content{
      .views-row-1{
        padding-left: 0;
      }
    }
    .view-display-id-attachment_3{
      .views-field-title{
        background: $darkgreen;
        padding-bottom: 6px;
        padding-top: 19px;
        min-height: 98px;
        a {
          color: #ffffff;
        }
      }
      .views-field-body{
        background: $darkgreen;
        color: #ffffff;
        padding: 0px 25px 1px 25px;
        p{
          color: #ffffff;
        }
      }
    }
  }
}

.group-video {
  background-color: #FFF;
  padding: 0;
  h3{
    display: none;
  }
  .field-group-format-wrapper {
    overflow: hidden;
    /*.field{
      float: left; --> disabled
    }*/
  }
  .field-name-field-video-description{
    /*width: 281px;*/
    margin-left: 15px;
    p {
      color: #999;
      font-size: 0.95rem;
    }
  }
  .body{
    &.field{
      display: none;
    }
  }
}