.page-node-2{
  .main{
    padding: 20px;
    background: white;
    .block-dsusers{
      color: #333;
      h3{
        font-family: $font-sansalight;
        font-weight: 700;
        font-size: 1.5rem;
        color: $darkred;
        text-transform: uppercase;
      }
      .info{
        font-size: 1.4rem;
        .perfil,
        .ciudad,
        .cedula{
          font-size: 1.1rem;
          small{
            font-size: 0.9rem;
            color: $blue1;
          }
        }
        .perfil{color: $blue1;}
      }
      .acumulado{
        border-left: 1px solid #ccc;
        padding-left: 40px;
        color: $darkred;
        font-family: $font-sansalight;
        font-size: 2rem;
        float: right;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
        .estrellas{
          background: url("../images/icons/big-star.png") no-repeat left center;
          height: 123px;
          padding-left: 123px;
          text-align: right;
          padding-top: 35px;
          width: 240px;
        }
      }
      .grupo{
        border: 1px solid $blue2;
        margin-bottom: 10px;
        h3{
          background: $blue2;
          margin: 0;
          text-transform: uppercase;
          color: white;
          padding: 5px 10px;
          font-size: 1rem;
        }
        &.cuotas{
          margin-top: 10px;
          border: 1px solid $text-darkgray;
          h3{
            background: $text-darkgray;
          }
          .cuota{
            padding: 1px 13px;
            font-size: 0.9rem;
            div{
              border-bottom: 1px solid #eee;
            }
          }
        }
        .content{
          background: white;
          padding: 20px;
          small{
            display: block;
          }
          .nombre{
            padding: 10px 0;
          }
          .item{
            float: left;
            width: 250px;
            padding: 10px 0;
            color:$text-gray;
            .data{
              color: $darkred;
            }
            &.cumplimiento{
              float: right;
              text-align: right;
            }
            &.estrellas{
              background: url("../images/icons/little-star.png") no-repeat left center;
              float: right;
              padding-left: 50px;
              width: 190px;
            }
          }
        }
      }
    }
  }
}
.red{
  color: $darkred;
}
