.block-dsusers{
  font-family: $font-sansanormal;
  margin-top: 10px;
  color: #666;
  font-size: 0.9rem;
  .welcome{
    .name{
      text-transform: uppercase;
    }
    .logout{
      border-top: 4px solid $lightgreen;
      float: right;
      padding: 3px 0 0 10px;
      margin-top: 3px;
      a{
        color: $lightgreen;
        font-family: $font-sansanormali;
        font-size: 0.85rem;
      }
    }
  }
  .myaccount{
    background: $blue1;
    font-family: $font-sansalight;
    a{
      color: white;
      padding: 15px 0 15px 20px;
      display: block;
      background: url("../images/backgrounds/my-account.png") no-repeat 0px 6px;
    }
  }
}
.block-user-login{
  background: #000;
  label[for="edit-pass"],
  label[for="edit-name"]{
    display: none;
  }
  h2.block-title{
    color: white;
    text-align: center;
  }
  #edit-submit{
    background: $lightgreen;
    color: white;
    font-family: $font-sansalight;
    width: 100%;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px;
  }
  .item-list{
    ul{
      margin-left: 0;
      li{
        list-style: none;
        text-align: center;
        a{
          font-size: 0.8rem;
          color: white;
          font-family: $font-sans;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.front.not-logged-in{
  .main-wrapper{
    background: url("../images/backgrounds/login.jpg") top center no-repeat;
    padding: 200px 0;
    min-height: 500px;
    .block-user-login {
      background: none;
    }
  }
}