.block-superfish{
  &.block-superfish-1{
    //position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    padding: 0;
    border-bottom: 4px solid #bfbfbf;
  }
  ul.menu{
    font-family: $font-sansalight;
    
    li{
      a{
        color: #ffffff;
        padding: 15px;
        text-transform: uppercase;
        &.active,
        &:hover{
          background: $darkred;
          color: white;
        }
        &:hover{
          background: darken( $darkred, 10% );
          text-decoration: none;
        }
      }
      &.active-trail{
        a{
          color: white;
          background: #4d4d4d;
          text-decoration: none;
        }
      }
    }
  }

}
