.section-actualizacion-datos{
    
    .clearfix {
        div.form-wrapper {
            width: 50%;
            float: left;
            padding: 0px 32px;

        }
        div.field-name-field-fecha-de-nacimiento {
           width: 100%;
        }
    }

    .form-actions{
        width: 14%;
        margin: 0 auto;
    }
    .form-actions {
        button#edit-submit {
            background-color: #008CBA;
        }
    }    
    div.reveal-modal-bg{
        z-index: 996;
    }
}