.header_noticias,
.header_desafios,
.header_entretenimiento,
.header_universidad{
  background: url("../images/headers/desafios.jpg") left center no-repeat;
  padding: 13px 25px;
  p{
    font-size: 2rem;
    font-family: $font-sansalight;
    margin: 0;
    text-transform: uppercase;
  }
  margin-bottom: 15px;
}
.header_entretenimiento{
  background: url("../images/headers/entretenimiento.jpg") left center no-repeat;
}
.header_universidad{
  background: url("../images/headers/universidad.jpg") left center no-repeat;
}