.more-link{
  a{
    font-family: $font-sansanormal;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 10px 0 0 30px;
    display: inline-block;
    background: url("../images/icons/star.png") left 7px no-repeat;
  }
}
[class*="column"]+[class*="column"]:last-child{
  float: left;
}


.views-field-body{
  .field-content{
    p{
      a{  
        color: #008CBA;
      }
    }
  }
}
.page-reporte-encuesta-completo{
  .main-wrapper{
    .l-main{
      .main{ 
        .view-id-reporte_de_encuesta{
          .view-content{
            display: inline-block;
          }
          li.views-row{
              display: block;
              border: solid #fff 1px;
              float: left;
            div{
              color:#fff;
            }
          }
        }   
      }
    }
  }
}

