.webform-client-form,
.webform-confirmation{
  padding: 20px;
  background: white;
  color: $text-darkgray;
  .webform-submit{
    color: #ffffff;
    background-color: #008CBA;
    padding: 10px;
  }
  #edit-submitted-ingresa-tu-codigo{
    width: auto;
    display: inline;
  }
}