.webform-client-form,
.webform-confirmation{
  padding: 20px;
  background: white;
  color: $text-darkgray;
  p{
    color: $text-darkgray;
  }
  .webform-submit{
    color: #ffffff;
    background-color: #008CBA;
    padding: 10px;
  }
  #edit-submitted-ingresa-tu-codigo{
    width: auto;
    display: inline;
  }
  .webform-component--ingresa-tu-codigo{
    label{
      font-size: 1.7rem;
    }
  }
}
.not-logged-in.section-dia-del-padre {
  .node-webform{
    display: none;
  }
}

 .page-node-111542{
    .node-webform{
      display:  none;
    }
    .reveal-modal{
      z-index: 9999;
      background-color:#157DB9;

      form{
      background-color:#157DB9;
        div{
          .form-item{
            input{
              border-radius:11px;
            }
            label{}
            button{}

          }
        }
      }

    }
 }