.webform-client-form,
.webform-confirmation{
  padding: 20px;
  background: white;
  color: $text-darkgray;
  p{
    color: $text-darkgray;
  }
  .webform-submit{
    color: #ffffff;
    background-color: #008CBA;
    padding: 10px;
  }
  #edit-submitted-ingresa-tu-codigo{
    width: auto;
    display: inline;
  }
}
.not-logged-in.section-dia-del-padre {
  .node-webform{
    display: none;
  }
}