// Non-modular or client styles for .l-header region.
.l-header{
	border-bottom: 4px solid #bfbfbf;
	height: 450px;
    padding-top: 260px;
@media #{$medium-only} { 
padding-top: 0;
}
}
.l-featured{
  //border-bottom: 4px solid #bfbfbf;
  //background: url("../images/backgrounds/header.png") no-repeat top center ;
}
.l-featured{
  margin-bottom: 75px;
}